* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;

}



header {

    /* background-color: rgb(107, 13, 13); */
    background-image: url(https://pbs.twimg.com/media/E1Jg90AVoAAw5wS.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 680px;
    background-size: cover;
    color: white;
    font-size: 17px;

}

header::after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 1100px;
    height: 680px;
    position: absolute;
    background-color: rgb(255 87 87);
    opacity: 0.6;
    z-index: 0;

}

.head {
    z-index: 1;
    position: relative;
    display: flex;
    width: 850px;
    margin: 40px auto;
    color: white;
    padding: 15px 15px 36px;

}

nav {
    color: aliceblue;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 2;
}

nav ul {
    list-style: none;
    display: flex;
    margin: auto;

}

nav ul li {
    text-align: center;
    padding: 30px 10px;
    font-size: 17px;
    font-weight: 600;
    z-index: 2;

}

nav ul li:hover {
    color: rgb(211, 208, 208);
    font-weight: 600;
}

nav ul li img {
    margin: 0px 1px;
    width: 30px;
    height: 17px;
    object-fit: cover;
    border-radius: 2px;
    background: none;
}



nav ul li:first-child {
    margin-right: 200px;
}



.flex {
    margin: 5px;
}

.services {
    flex: 50%;
    font-size: 20px;
    padding: 10px;
    list-style: 30px;
    margin: auto;
}

.services h2 {
    font-size: 65px;
    font-family: sans-serif;
}

.services button {
    padding: 10px 40px;
    border: none;
    font-size: 17px;
    margin: 17px 0;
}



.video h1 {
    font-size: 23px;
    text-align: center;
    padding: 50px 0 10px 0;
    margin: 20px auto 5px;
}

.video button {
    background: rgb(228, 206, 11);
    color: black;
    width: 190px;
    height: 30px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    text-align: center;
    margin: 0px 95px 30px;
}

.video {
    flex: 50%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBZp69fh2GdS2dDC2ceNzFC3-ulGdoAKNe0iGgrsl-bZd0DWBoDhhTDED7tRkle4iUEgk&usqp=CAU);
    border-radius: 10px;
    background-repeat: no-repeat;
    height: 220px;
    margin: 2px auto;
    padding: 15px;
    align-items: center;
}

.main {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    /* margin: -10px auto; */


}

.left {
    flex: 35%;
    background-color: rgb(241, 241, 241);
    /* padding: 10px; */

}

.data {
    width: 70%;
    margin: auto;
    text-align: center;
    /* padding: 10px; */
}
.gender,
.status,
.rel,
.sect,
.edu,
.cast,
.country,
.city {
    margin: 20px auto;
}
.gender,
.marital-age,
.rel-sec,
.edu-cast,
.hometown {
    display: flex;
    flex-direction: column;
}

.left .age {
    display: flex;
    padding: 0;
    justify-content: center;
}

.age .max-age,
.min-age {
    background: #dedede;
    border: 1px solid #a3a2a2;
    padding: 5px;
}

.age {
    text-align: left;
}

.age .max-age {
    margin-left: 0px;
}

.age .min-age {
    margin-right: 0px;
}

.age .range {
    margin-left: 2px;
    margin-right: 2px;
}

.gender {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}




.left select {
    padding: 15px 10px;
    width: 220px;
    background: #dedede;
    border-radius: 5px;
    border: 1px solid #a3a2a2;
    appearance: none;
}

.left h2 {
    color: rgb(194, 15, 113);
    margin: 25px 0 0 36px;
}

.gender i {
    background: #dedede;
    width: 60px;
    height: 60px;
    padding: 10px;
    margin: 5px;

}

.right {
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-wrap: wrap;
    flex: 63%;
}


.right p:first-child {
    border: 1px solid;
    padding: 7px 15px;
    width: 500px;
    margin: 30px auto 15px;
    font-size: 24px;
    border-radius: 3px;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex: 65%;
    width: 90%;
    margin: auto;
    /* text-align: center; */
}

.card {
    width: 295px;
    height: 350px;
    background-color: white;
    margin: 10px auto;
    text-align: center;
    border-radius: 5px;
    font-size: 12px;
}

.card .id,
.cards-data {
    display: flex;
}

.card .num {
    margin: 4px;
    text-align: left;
}

.card .num h3,
p {
    margin: 10px auto;
}

.card .num i {
    color: rgb(255, 255, 255);
    padding: 0 0 0 7px;
}

.card .num p:nth-child(4) {
    background: rgb(194, 15, 113);
    color: white;
    padding: 7px 10px;
    border-radius: 3px;
    text-align: center;
}




.cards-data {
    height: auto;
    width: 100%;
    margin: auto;
}

.cards-data-left,
.cards-data-right {

    text-align: left;
    height: 100%;
    width: 200px;
}

.cards-data-left div:not(.educ),
.cards-data-right div {
    border-bottom: 1px solid rgb(212, 212, 212);
    margin: 18px 0px 15px;
    padding: 0 0px 12px 0;
    font-size: 14px;
}

.cards-data-left {
    margin-top: 2px;
}

/* .cards-data-left div {
    margin-right: 25px;
}

.cards-data-right div {
    /* margin-right: 15px; 
} */

.cards-data-right {
    text-align: left;
    height: 100%;
    width: 200px;
    margin-right: 5px;
}

.educ {
    text-align: left;
    width: 100%;
    border-bottom: none;
    margin: 18px 0px 15px;
    padding: 0 0px 12px 0;
    font-size: 14px;
}

.cards-data-right img {
    color: rgb(194, 15, 113);
    margin-bottom: -5px;
    margin-left: 10px;
    width: 25px;
    height: 20px;
    object-fit: cover;
    background: none
}

.card .id img {
    width: 90px;
    height: 95px;
    object-fit: cover;
    margin: 10px;
    float: left;
    padding: 10px;
    border-radius: 5px;
    background: rgb(190, 187, 187);
}

.card i {
    color: rgb(194, 15, 113);
    padding: 10px 15px 0px 15px;
}

.pagination {
    width: 50%;
    margin: 35px auto;
}

.pagination a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border-radius: 2px;

}

.pagination a:nth-child(5) {
    background: rgb(194, 15, 113);
}

@media only screen and (min-width: 768px){
    .main{
        flex-direction: column;
    }
}
